/app/tmp
/app/config/database.php
/app/config/core.php
/app/config/**/app.php
/app/config/**/app.options.php
/app/config/db.sql
/app/webroot/img/barcode
/app/webroot/files/*/*

# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
tags
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
/vendors/plugins

# keep some hiddens
!empty
